<!-- home.component.html -->

<div class="bg-white">
  <div class="relative h-50vh">
    <div>
      <img
        src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/9b21aa66b4922ae2.png"
        alt=""
        class="object-cover w-full h-full"
      />
    </div>

    <header
      class="absolute top-1/4 left-0 right-1/2 py-4 px-6 text-black text-center z-10"
    >
      <h1 class="text-3xl font-medium">Welcome to BiteBook!</h1>
      <p class="text-xl mt-2">Discover the world of delicious food.</p>
      <p class="text-xl mt-2">
        A delightful platform where you can indulge in a wide variety of dishes
        catered to your taste buds. Order your favorite meals, explore new
        flavors, and conveniently track your order history. Savor the
        convenience and culinary delights right at your fingertips. Bon appétit!
      </p>
    </header>
  </div>

  <main class="container mx-auto flex flex-col gap-3 p-6">
    <div class="bg-gray-200 p-2 rounded-lg shadow-md">
      <h1 class="text-3xl font-normal mb-4 text-coral text-center">
        Featured Recipes
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div
          class="flex flex-col items-center justify-center bg-gray-100 p-4 rounded-lg"
        >
          <div class="w-full aspect-w-3 aspect-h-2">
            <img
              src="https://img.freepik.com/premium-photo/shahi-paneer_57665-15263.jpg?size=626&ext=jpg"
              alt="Recipe Image"
              class="rounded-lg w-5/6 m-auto"
            />
          </div>
          <p class="text-lg font-medium text-coral my-2">Spaghetti Bolognese</p>
          <p class="text-base text-gray-700 text-center">
            Classic Italian pasta dish with ground beef, tomato sauce, and
            herbs. Served over cooked spaghetti.
          </p>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-gray-100 p-4 rounded-lg"
        >
          <div class="w-full aspect-w-3 aspect-h-2">
            <img
              src="https://img.freepik.com/premium-photo/seamless-pattern-different-dishes-including-curry-chicken-other-food_900958-7322.jpg?size=626&ext=jpg"
              alt="Recipe Image"
              class="rounded-lg w-5/6 m-auto"
            />
          </div>
          <p class="text-lg font-medium text-coral my-2">Margherita Pizza</p>
          <p class="text-base text-gray-700 text-center">
            Traditional Italian pizza topped with fresh mozzarella, tomatoes,
            basil, and olive oil and some scented flavour .
          </p>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-gray-100 p-4 rounded-lg"
        >
          <div class="w-full aspect-w-3 aspect-h-2">
            <img
              src="https://img.freepik.com/premium-photo/plate-food-with-glass-beer-plate-chicken-wings_579873-1490.jpg?size=626&ext=jpg"
              alt="Recipe Image"
              class="rounded-lg w-5/6 m-auto"
            />
          </div>
          <p class="text-lg font-medium text-coral my-2">Chicken Stir-Fry</p>
          <p class="text-base text-gray-700 text-center">
            Quick and healthy stir-fried chicken with vegetables, soy sauce, and
            garlic. Served with steamed rice.
          </p>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-gray-100 p-4 rounded-lg"
        >
          <div class="w-full aspect-w-3 aspect-h-2">
            <img
              src="https://img.freepik.com/premium-photo/thai-chicken-satay-generative-art-by-ai_35887-7578.jpg?size=626&ext=jpg"
              alt="Recipe Image"
              class="rounded-lg w-5/6 m-auto"
            />
          </div>
          <p class="text-lg font-medium text-coral my-2">Chicken Stir-Fry</p>
          <p class="text-base text-gray-700 text-center">
            Quick and healthy stir-fried chicken with vegetables, soy sauce, and
            garlic. Served with steamed rice.
          </p>
        </div>
      </div>
    </div>
    <div class="bg-gray-100 inline-block rounded-lg p-4">
      <p class="text-black-300">
        The world's most expensive spice is saffron. It takes over 75,000
        saffron crocus flowers to produce just one pound of saffron threads.
      </p>
    </div>
    <div class="bg-gray-200 p-6 rounded-lg shadow-md">
      <h1 class="text-3xl font-medium mb-4 text-coral text-center">
        Meal of the Day
      </h1>
      <div
        class="flex flex-col md:flex-row items-center justify-between bg-gray-100 p-4 rounded-lg"
      >
        <div class="w-full md:w-1/3 aspect-w-3 aspect-h-2">
          <img
            src="https://img.freepik.com/premium-photo/thai-chicken-satay-generative-art-by-ai_35887-7578.jpg?size=626&ext=jpg"
            alt="Meal of the Day Image"
            class="object-cover rounded-lg"
          />
        </div>
        <div class="md:w-2/3 ml-0 md:ml-6">
          <h3 class="text-lg font-medium text-coral my-2">
            Grilled Salmon with Lemon Butter Sauce
          </h3>
          <p class="text-base text-gray-700">
            Grilled salmon fillet seasoned with herbs and served with a tangy
            lemon butter sauce. Served with roasted vegetables and mashed
            potatoes, Mashed potatoes are creamy and velvety, prepared by
            boiling potatoes until tender and then mashing them with butter,
            milk, and seasoning. They provide a comforting and satisfying side
            dish that pairs perfectly with the salmon and vegetables.
          </p>
        </div>
      </div>
    </div>
    <div class="bg-gray-100 rounded-lg p-4 inline-block">
      <span class="text-black-300">
        Broccoli is not a naturally occurring vegetable. It was created through
        centuries of careful breeding and cultivation by Italian farmers.
      </span>
    </div>
  </main>
</div>
