<!-- footer.component.html -->

<footer
  class="py-8"
  style="
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  "
>
  <div class="container mx-auto px-4">
    <div class="flex flex-col gap-1 lg:flex-row justify-between items-center">
      <div class="flex items-center mb-4 md:mb-0">
        <span class="text-white mr-4">Follow us:</span>
        <div class="flex space-x-4">
          <a
            href="#"
            class="text-white hover:text-gray-400 transition duration-300"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="#"
            class="text-white hover:text-gray-400 transition duration-300"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            href="#"
            class="text-white hover:text-gray-400 transition duration-300"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>

      <div class="flex flex-col md:flex-row items-center">
        <a
          href="#"
          class="text-white hover:text-gray-400 transition duration-300 mb-2 md:mb-0 mr-4"
          >Contact Us</a
        >
        <a
          href="#"
          class="text-white hover:text-gray-400 transition duration-300 mb-2 md:mb-0 mr-4"
          >Customer Service</a
        >
        <a
          href="#"
          class="text-white hover:text-gray-400 transition duration-300 mb-2 md:mb-0 mr-4"
          >Terms of Service</a
        >
        <a
          href="#"
          class="text-white hover:text-gray-400 transition duration-300"
          >Privacy Policy</a
        >
      </div>
      <div class="">
        <p class="text-white">&copy; 2023 BiteBook. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
