<div *ngIf="orders.length === 0" class="text-center mt-12">
  <h2 class="text-3xl font-normal mb-4 text-coral">
    No Order History Found...
  </h2>
</div>
<div class="mt-6" style="min-height: 80vh">
  <h2 class="text-2xl text-center font-normal mb-4 text-coral">My Orders</h2>
  <table
    *ngIf="orders.length > 0"
    class="w-full lg:w-4/5 m-auto border-collapse"
  >
    <thead>
      <tr class="text-left">
        <th class="py-2 px-4 bg-gray-200 font-medium uppercase text-sm">
          Order ID
        </th>
        <th class="py-2 px-4 bg-gray-200 font-medium uppercase text-sm">
          Dish Id
        </th>
        <th class="py-2 px-4 bg-gray-200 font-medium uppercase text-sm">
          Total Amount($)
        </th>

        <th class="py-2 px-4 bg-gray-200 font-medium uppercase text-sm">
          Status
        </th>
        <th class="py-2 px-4 bg-gray-200 font-medium uppercase text-sm">
          Rating (⭐)
        </th>
        <th class="py-2 px-4 bg-gray-200 font-medium uppercase text-sm">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="py-2 px-4 border-b border-gray-200">{{ order.id }}</td>
        <td class="py-2 px-4 border-b border-gray-200">
          {{ order.item_id }}
        </td>
        <td class="py-2 px-4 border-b border-gray-200">
          {{ order.total_price }}
        </td>
        <td class="py-2 px-4 border-b border-gray-200">{{ order.status }}</td>
        <td class="py-2 px-4 border-b border-gray-200">{{ order.rating }}</td>
        <td class="py-2 px-4 border-b border-gray-200">
          <button
            class="px-4 py-2 border border-gray-500 hover:bg-gray-600 hover:text-white rounded-md transition-colors"
            (click)="addReview(order.id, order.status)"
          >
            Add Review
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
