<div class="w-full overflow-x-auto">
  <h1 *ngIf="isLoading">Loading</h1>
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

  <table class="table min-w-full" *ngIf="!isLoading">
    <thead>
      <tr class="text-left">
        <th class="px-4 py-2 font-medium">ID</th>
        <th class="px-4 py-2 font-medium">Name</th>
        <th class="px-4 py-2 font-medium">Price($)</th>
        <th class="px-4 py-2 font-medium">Stock</th>
        <th class="px-4 py-2 font-medium">Availability</th>
        <th class="px-4 py-2 font-medium text-center">Edit</th>
        <th class="px-4 py-2 font-medium text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventoryItems">
        <td class="px-4 py-2">{{ item.id }}</td>
        <td class="px-4 py-2">{{ item.name }}</td>
        <td class="px-4 py-2">{{ item.price }}</td>
        <td class="px-4 py-2">{{ item.stock }}</td>
        <td class="px-4 py-2">{{ item.availability }}</td>
        <td class="px-4 py-2 text-center">
          <button
            class="text-gray-800 border border-gray-500 px-3 py-1 rounded lg:w-4/5 hover:text-white hover:bg-gray-500"
            (click)="editDish(item)"
          >
            Edit
          </button>
        </td>
        <td class="px-4 py-2 text-center">
          <button
            class="text-red-800 border border-red-500 px-3 py-1 rounded lg:w-4/5 hover:text-white hover:bg-red-500"
            (click)="deleteDish(item.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
